# deeptalk-backendfinal.zip
# deeptalk-frontend-tailwind.zip

# deeptalk-frontend/node_modules/
# deeptalk-frontend-tailwind/node_modules/
# deeptalk-model-server/venv/Lib/
# # Ignore ZIP files
# *.zip

# # Ignore Node.js dependencies
# deeptalk-frontend-tailwind/node_modules/
# deeptalk-frontend/node_modules/

# # Ignore Python virtual environments
# deeptalk-model-server/venv/

# # Ignore Python cache files
# __pycache__/
# *.pyc

# # Ignore environment files
# .env
# Ignore zip files
*.zip

# Ignore Node.js dependencies
deeptalk-backendfinal/node_modules/
deeptalk-frontend-tailwind/node_modules/
deeptalk-model-server/venv/Lib/

# Ignore Python virtual environments
deeptalk-model-server/venv/

# Ignore Python bytecode & cache
__pycache__/
*.pyc

# Ignore environment config
.env
# Ignore IDE/editor specific files
.idea/      